    *.class
    *.jar
    *.war
    *.ear
    *.zip
    *.tar.gz
    *.rar
    hs_err_pid*
    *.iml
    .idea/
    log/
    logs/
    target/
    .svn/
    backup/
    disconf/
    .metadata/
    .settings/
    .project/
    .classpath/
.idea
practice.iml
target
